@page "/"
@using PerJannersten.UI.Components

<div>
<MudGrid Spacing="1">
<MudItem sm="3" Style="height: 100%;">
    <fieldset >
        <legend>Ask for</legend>
        <MudStack Spacing="0">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="ID"
                         @bind-Checked="@_settingViewModel.AskFor.Id"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="Deal"
                         @bind-Checked="@_settingViewModel.AskFor.Deal"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="Bidding"
                         @bind-Checked="@_settingViewModel.AskFor.Bidding"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="Lead"
                         @bind-Checked="@_settingViewModel.AskFor.Lead"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="Reconfirm"
                         @bind-Checked="@_settingViewModel.AskFor.Reconfirm"/>
            <MudCheckBox Color="DefaultColorSecondary" Size="DefaultSize" Label="PIN" Class="subOption"
                         @bind-Checked="@_settingViewModel.AskFor.Pin"
                         Disabled="@(!_settingViewModel.AskFor.Reconfirm)"/>
        </MudStack>
    </fieldset>
</MudItem>
<MudItem sm="6" Style="height: 100%;">
    <fieldset >
        <legend>Game & scoring type</legend>
        <MudGrid>
            <MudItem sm="6">
                <fieldset>
                    <MudRadioGroup T="byte?" Class="radioColumn"
                                   SelectedOption="@(_settingViewModel.GameAndScoringType.ScoringType != 4 ?
                                                       _settingViewModel.GameAndScoringType.GameType : null)"
                                   SelectedOptionChanged="ChangeGameType">
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte?) 1)">Pairs</MudRadio>
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte?) 2)">Individual</MudRadio>
                    </MudRadioGroup>
                    <CustomRadio OnClick="SelectTeamsScoringType"
                                 Checked="@(_settingViewModel.GameAndScoringType?.ScoringType == 4)">Teams</CustomRadio>
                </fieldset>
            </MudItem>
            <MudItem sm="6">
                <fieldset>
                    @{
                        bool disabledScoringType = _settingViewModel.GameAndScoringType?.ScoringType == 4;
                    }
                    <MudRadioGroup T="byte"
                                   Class="radioColumn"
                                   @bind-SelectedOption="@_settingViewModel.GameAndScoringType.ScoringType">
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 1)"
                                  Disabled="disabledScoringType">
                            MP
                        </MudRadio>
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 2)"
                                  Disabled="disabledScoringType">
                            Buttler
                        </MudRadio>
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 3)"
                                  Disabled="disabledScoringType">
                            Cross IMPs
                        </MudRadio>
                    </MudRadioGroup>
                </fieldset>
            </MudItem>
        </MudGrid>
        <div style="display: flex; justify-content: center; margin: 12px 0;">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize"
                         @bind-Checked="@_settingViewModel.GameAndScoringType.ScoreAcrossPair"
                         T="bool" Label="Score across the field"
                         Style=""/>
        </div>
    </fieldset>
</MudItem>
<MudItem sm="3" Style="height: 100%;">
    <fieldset >
        <legend>Tricks & points</legend>
        <MudStack Spacing="0">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="N scores"
                         @bind-Checked="_settingViewModel.TrickAndPoint.RotateDirections"/>
            <MudRadioGroup T="byte"
                           Class="radioColumn"
                           @bind-SelectedOption="@_settingViewModel.TrickAndPoint.InputMethod">
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 1)">
                    Tricks taken
                </MudRadio>
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 0)">
                    - / = / + (EUR)
                </MudRadio>
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 2)">
                    Made / down (US)
                </MudRadio>
            </MudRadioGroup>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Declarer's points"
                         @bind-Checked="_settingViewModel.TrickAndPoint.PointToDeclarer"/>
        </MudStack>
    </fieldset>
</MudItem>
<MudItem sm="3" Style="height: 100%;">
    <MudGrid Spacing="0">
        <MudItem sm="12">
            <fieldset >
                <legend>Timing</legend>
                <MudStack Spacing="0">
                    <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Use timer"
                                 @bind-Checked="_settingViewModel.Timing.UseTimer"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="Min for reg." Variant="Variant.Outlined" Margin="Margin.Dense"
                                     @bind-Value="_settingViewModel.Timing.RegistrationTime"
                                     Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="Min/board" Variant="Variant.Outlined" Margin="Margin.Dense"
                                     @bind-Value="_settingViewModel.Timing.PlayTime"
                                     Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="Min/move" Variant="Variant.Outlined" Margin="Margin.Dense"
                                  @bind-Value="_settingViewModel.Timing.ChangeTime"
                                  Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                </MudStack>
            </fieldset>
        </MudItem>
        <MudItem sm="12">
            <fieldset >
                <legend>TD</legend>
                <MudGrid Spacing="1">
                    <MudItem sm="12" Style="padding: 1px 4px;">
                        <fieldset style="padding: 0 10px;">
                            <legend>PIN</legend>
                            <MudStack Style="flex-direction: row !important; align-items: center !important;" Spacing="0">
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool"
                                             @bind-Checked="_settingViewModel.TD.Checked"/>
                                <MudNumericField Class="smallHeight"  Variant="Variant.Outlined" Margin="Margin.Dense"
                                             @bind-Value="_settingViewModel.TD.Pin"
                                             Disabled="@(!_settingViewModel.TD.Checked)"
                                             />
                            </MudStack>
                        </fieldset>
                    </MudItem>
                    <MudItem sm="12" Style="padding: 1px 4px;">
                        <fieldset style="padding: 0 10px;">
                            <legend>Calls by BT</legend>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="On / off"
                                         @bind-Checked="_settingViewModel.TD.CallByBt"/>
                        </fieldset>
                    </MudItem>
                </MudGrid>
            </fieldset>
        </MudItem>
    </MudGrid>

</MudItem>
<MudItem sm="6" Style="height: 100%;">
    <fieldset >
        <legend>Feedback</legend>
        <MudGrid>
            <MudItem sm="6">
                <fieldset>
                    <legend>Each deal</legend>
                    <MudGrid>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" @bind-Checked="_settingViewModel.EachDeal.ShowScore"
                                             Size="DefaultSize" T="bool" Label="Show score"/>
                                <MudRadioGroup T="bool" Class="radioColumn subOption"
                                               @bind-SelectedOption="_settingViewModel.EachDeal.Automatic">
                                    <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(true)"
                                              Disabled="@(!_settingViewModel.EachDeal.ShowScore)">
                                        Automatic
                                    </MudRadio>
                                    <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(false)"
                                              Disabled="@(!_settingViewModel.EachDeal.ShowScore)">
                                        Traveller
                                    </MudRadio>
                                </MudRadioGroup>
                            </fieldset>
                        </MudItem>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" 
                                             @bind-Checked="_settingViewModel.EachDeal.ShowDeal"
                                             Label="Show deal"/>
                                <fieldset>
                                    <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Makable as"
                                                 @bind-Checked="_settingViewModel.EachDeal.MakableAs"
                                                 Disabled="@(!_settingViewModel.EachDeal.ShowDeal)"/>
                                    <MudRadioGroup T="bool" Class="radioColumn subOption"
                                                   @bind-SelectedOption="_settingViewModel.EachDeal.Contracts">
                                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(true)"
                                                  Disabled="@(!_settingViewModel.EachDeal.MakableAs || !_settingViewModel.EachDeal.ShowDeal)">
                                            Contracts
                                        </MudRadio>
                                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(false)"
                                                  Disabled="@(!_settingViewModel.EachDeal.MakableAs || !_settingViewModel.EachDeal.ShowDeal)">
                                            Tricks
                                        </MudRadio>
                                    </MudRadioGroup>
                                </fieldset>
                            </fieldset>
                        </MudItem>
                    </MudGrid>
                </fieldset>
            </MudItem>
            <MudItem sm="6">
                <fieldset>
                    <legend>End of round</legend>
                    <MudGrid>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Show summary"
                                             @bind-Checked="_settingViewModel.EndOfRound.RoundSummary"/>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Permit changes"
                                             @bind-Checked="_settingViewModel.EndOfRound.PermitResultChange"/>
                            </fieldset>
                        </MudItem>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Show ranking"
                                             @bind-Checked="_settingViewModel.EndOfRound.ShowRanking"/>
                                <MudCheckBox Color="DefaultColorSecondary" Size="DefaultSize" T="bool"
                                             Label="Top 10 only" Class="subOption"
                                             @bind-Checked="_settingViewModel.EndOfRound.Top10"
                                             Disabled="@(!_settingViewModel.EndOfRound.ShowRanking)"/>
                            </fieldset>
                        </MudItem>
                        <MudItem>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Play next info"
                                         @bind-Checked="_settingViewModel.EndOfRound.ShowGoto"/>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Recap at end"
                                         @bind-Checked="_settingViewModel.EndOfRound.RecapResult"/>
                        </MudItem>
                    </MudGrid>
                </fieldset>
            </MudItem>
        </MudGrid>
    </fieldset>
</MudItem>
<MudItem sm="3" Style="height: 100%;">
    <MudGrid Style="margin-top: 10px;">
        <MudItem sm="12">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="Show at start"
                         @bind-Checked="_settingViewModel.Other.ShowAtStart"/>
        </MudItem>

        <MudItem sm="12">
            <fieldset >
                <legend>Settings from</legend>
                <MudRadioGroup T="bool" Class="radioColumn" 
                               @bind-SelectedOption="_settingViewModel.Other.BTDefault">
                    <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@(false)">Scoring software</MudRadio>
                    <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@(true)">Default</MudRadio>
                </MudRadioGroup>
            </fieldset>
        </MudItem>
        <MudItem sm="12" Class="centerContent">
            <MudIconButton Color="Color.Warning" Icon="@Icons.Material.Filled.QuestionMark" Variant="Variant.Filled"
                           Size="Size.Large"/>
        </MudItem>
        <MudItem sm="12" Class="centerContent">
            <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled"
                       OnClick="SaveSettings">OK</MudButton>
        </MudItem>
    </MudGrid>
</MudItem>
</MudGrid>
</div>