@page "/setting"
@using PerJannersten.UI.Components;
@using PerJannersten.UI.Shared
@layout MainLayout

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<MudContainer Style="width: 100%;">
<div>
<MudGrid Spacing="1">
<MudItem sm="3" Style="height: 100%;">
    <fieldset >
        <legend>@(Localizer["ask_for"])</legend>
        <MudStack Spacing="0">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="@(Localizer["ask_for_id"])"
                         @bind-Checked="@_settingViewModel.AskFor.Id"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="@(Localizer["ask_for_deal"])"
                         @bind-Checked="@_settingViewModel.AskFor.Deal"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="@(Localizer["ask_for_bidding"])"
                         @bind-Checked="@_settingViewModel.AskFor.Bidding"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="@(Localizer["ask_for_lead"])"
                         @bind-Checked="@_settingViewModel.AskFor.Lead"/>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" Label="@(Localizer["ask_for_reconfirm"])"
                         @bind-Checked="@_settingViewModel.AskFor.Reconfirm"/>
            <MudCheckBox Color="DefaultColorSecondary" Size="DefaultSize" Label="@(Localizer["ask_for_pin"])" Class="subOption"
                         @bind-Checked="@_settingViewModel.AskFor.Pin"
                         Disabled="@(!_settingViewModel.AskFor.Reconfirm)"/>
        </MudStack>
    </fieldset>
</MudItem>
<MudItem sm="6">
    <fieldset style="height: 100%;">
        <legend>@(Localizer["game_scoring_type"])</legend>
        <MudGrid>
            <MudItem sm="6">
                <fieldset>
                    <MudRadioGroup T="byte" Class="radioColumn"
                                   SelectedOption="@(_settingViewModel.GameAndScoringType.ScoringType != 4 ? _settingViewModel.GameAndScoringType.GameType : (byte) 0)"
                                   SelectedOptionChanged="ChangeGameType">
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 1)">@(Localizer["game_scoring_type_pairs"])</MudRadio>
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 2)">@(Localizer["game_scoring_type_individual"])</MudRadio>
                    </MudRadioGroup>
                    <CustomRadio OnClick="SelectTeamsScoringType"
                                 Checked="@(_settingViewModel.GameAndScoringType?.ScoringType == 4)">
                        @(Localizer["game_scoring_type_teams"])
                    </CustomRadio>
                </fieldset>
            </MudItem>
            <MudItem sm="6">
                <fieldset>
                    @{
                        bool disabledScoringType = _settingViewModel.GameAndScoringType?.ScoringType == 4;
                    }
                    <MudRadioGroup T="byte"
                                   Class="radioColumn"
                                   @bind-SelectedOption="@_settingViewModel.GameAndScoringType.ScoringType">
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 1)"
                                  Disabled="disabledScoringType">
                            @(Localizer["game_scoring_type_mp"])
                        </MudRadio>
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 2)"
                                  Disabled="disabledScoringType">
                            @(Localizer["game_scoring_type_buttler"])
                        </MudRadio>
                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@((byte) 3)"
                                  Disabled="disabledScoringType">
                            @(Localizer["game_scoring_type_cross"])
                        </MudRadio>
                    </MudRadioGroup>
                </fieldset>
            </MudItem>
        </MudGrid>
        <div style="display: flex; justify-content: center; margin-top:20px;">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize"
                         @bind-Checked="@_settingViewModel.GameAndScoringType.ScoreAcrossPair"
                         T="bool" Label="@(Localizer["score_across_the_field"])"/>
        </div>
    </fieldset>
</MudItem>
<MudItem sm="3" >
    <fieldset style="height: 100%;">
        <legend>@(Localizer["tricks_points"])</legend>
        <MudStack Spacing="2">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["tricks_points_n_scores"])"
                         @bind-Checked="_settingViewModel.TrickAndPoint.RotateDirections"/>
            <MudRadioGroup T="byte"
                           Class="radioColumn"
                           @bind-SelectedOption="@_settingViewModel.TrickAndPoint.InputMethod">
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 1)">
                    @(Localizer["tricks_points_tricks_taken"])
                </MudRadio>
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 0)">
                    @(Localizer["tricks_points_eur"])
                </MudRadio>
                <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@((byte) 2)">
                    @(Localizer["tricks_points_us"])
                </MudRadio>
            </MudRadioGroup>
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["tricks_points_declarer_points"])"
                         @bind-Checked="_settingViewModel.TrickAndPoint.PointToDeclarer"/>
        </MudStack>
    </fieldset>
</MudItem>
<MudItem sm="3">
    <MudGrid Spacing="0" Style="height: 100%;">
        <MudItem sm="12">
            <fieldset >
                <legend>@(Localizer["timing"])</legend>
                <MudStack Spacing="0">
                    <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["timing_use_timer"])"
                                 @bind-Checked="_settingViewModel.Timing.UseTimer"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="@(Localizer["timing_min"])" Variant="Variant.Outlined" Margin="Margin.Dense"
                                     @bind-Value="_settingViewModel.Timing.RegistrationTime"
                                     Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="@(Localizer["timing_min_board"])" Variant="Variant.Outlined" Margin="Margin.Dense"
                                     @bind-Value="_settingViewModel.Timing.PlayTime"
                                     Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                    <MudNumericField Class="marginTopField smallHeight" Label="@(Localizer["timing_min_move"])" Variant="Variant.Outlined" Margin="Margin.Dense"
                                     @bind-Value="_settingViewModel.Timing.ChangeTime"
                                     Disabled="@(!_settingViewModel.Timing.UseTimer)"/>
                </MudStack>
            </fieldset>
        </MudItem>
        <MudItem sm="12">
            <fieldset >
                <legend>@(Localizer["td"])</legend>
                <MudGrid Spacing="1">
                    <MudItem sm="12" Style="padding: 1px 4px;">
                        <fieldset style="padding: 0 10px;">
                            <legend>@(Localizer["td_pin"])</legend>
                            <MudStack Style="flex-direction: row !important; align-items: center !important;" Spacing="0">
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool"
                                             @bind-Checked="_settingViewModel.TD.Checked"/>
                                <MudNumericField Class="smallHeight" Variant="Variant.Outlined" Margin="Margin.Dense"
                                                 @bind-Value="_settingViewModel.TD.Pin"
                                                 Disabled="@(!_settingViewModel.TD.Checked)"/>
                            </MudStack>
                        </fieldset>
                    </MudItem>
                    <MudItem sm="12" Style="padding: 1px 4px;">
                        <fieldset style="padding: 0 10px;">
                            <legend>@(Localizer["td_calls_by_bt"])</legend>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["td_calls_by_bt_on_off"])"
                                         @bind-Checked="_settingViewModel.TD.CallByBt"/>
                        </fieldset>
                    </MudItem>
                </MudGrid>
            </fieldset>
        </MudItem>
    </MudGrid>

</MudItem>
<MudItem sm="6">
    <fieldset style="height: 100%;">
        <legend>@(Localizer["feedback"])</legend>
        <MudGrid>
            <MudItem sm="6">
                <fieldset>
                    <legend>@(Localizer["feedback_each_deal"])</legend>
                    <MudGrid>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" @bind-Checked="_settingViewModel.EachDeal.ShowScore"
                                             Size="DefaultSize" T="bool" Label="@(Localizer["feedback_each_deal_show_score"])"/>
                                <MudRadioGroup T="bool" Class="radioColumn subOption"
                                               @bind-SelectedOption="_settingViewModel.EachDeal.Automatic">
                                    <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(true)"
                                              Disabled="@(!_settingViewModel.EachDeal.ShowScore)">
                                        @(Localizer["feedback_each_deal_automatic"])
                                    </MudRadio>
                                    <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(false)"
                                              Disabled="@(!_settingViewModel.EachDeal.ShowScore)">
                                        @(Localizer["feedback_each_deal_traveller"])
                                    </MudRadio>
                                </MudRadioGroup>
                            </fieldset>
                        </MudItem>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool"
                                             @bind-Checked="_settingViewModel.EachDeal.ShowDeal"
                                             Label="@(Localizer["feedback_each_deal_show_deal"])"/>
                                <fieldset>
                                    <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool"
                                                 Label="@(Localizer["feedback_each_deal_makable"])"
                                                 @bind-Checked="_settingViewModel.EachDeal.MakableAs"
                                                 Disabled="@(!_settingViewModel.EachDeal.ShowDeal)"/>
                                    <MudRadioGroup T="bool" Class="radioColumn subOption"
                                                   @bind-SelectedOption="_settingViewModel.EachDeal.Contracts">
                                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(true)"
                                                  Disabled="@(!_settingViewModel.EachDeal.MakableAs || !_settingViewModel.EachDeal.ShowDeal)">
                                            @(Localizer["feedback_each_deal_contracts"])
                                        </MudRadio>
                                        <MudRadio Color="DefaultColorSecondary" Size="DefaultSize" Option="@(false)"
                                                  Disabled="@(!_settingViewModel.EachDeal.MakableAs || !_settingViewModel.EachDeal.ShowDeal)">
                                            @(Localizer["feedback_each_deal_tricks"])
                                        </MudRadio>
                                    </MudRadioGroup>
                                </fieldset>
                            </fieldset>
                        </MudItem>
                    </MudGrid>
                </fieldset>
            </MudItem>
            <MudItem sm="6">
                <fieldset>
                    <legend>@(Localizer["end_of_round"])</legend>
                    <MudGrid>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["end_of_round_show_summary"])"
                                             @bind-Checked="_settingViewModel.EndOfRound.RoundSummary"/>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["end_of_round_permit"])"
                                             @bind-Checked="_settingViewModel.EndOfRound.PermitResultChange"/>
                            </fieldset>
                        </MudItem>
                        <MudItem sm="12">
                            <fieldset>
                                <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["end_of_round_show_ranking"])"
                                             @bind-Checked="_settingViewModel.EndOfRound.ShowRanking"/>
                                <MudCheckBox Color="DefaultColorSecondary" Size="DefaultSize" T="bool"
                                             Label="@(Localizer["end_of_round_top10"])" Class="subOption"
                                             @bind-Checked="_settingViewModel.EndOfRound.Top10"
                                             Disabled="@(!_settingViewModel.EndOfRound.ShowRanking)"/>
                            </fieldset>
                        </MudItem>
                        <MudItem>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["end_of_round_play_next"])"
                                         @bind-Checked="_settingViewModel.EndOfRound.ShowGoto"/>
                            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["end_of_round_recap_end"])"
                                         @bind-Checked="_settingViewModel.EndOfRound.RecapResult"/>
                        </MudItem>
                    </MudGrid>
                </fieldset>
            </MudItem>
        </MudGrid>
    </fieldset>
</MudItem>
<MudItem sm="3">
    <MudGrid Style="margin-top: 10px; height: 100%;">
        <MudItem sm="12">
            <MudCheckBox Color="DefaultColor" Size="DefaultSize" T="bool" Label="@(Localizer["show_at_start"])"
                         @bind-Checked="_settingViewModel.Other.ShowAtStart"/>
        </MudItem>

        <MudItem sm="12" Class="centerContent">
            @if (_btDefault == false || SettingWindow.DefaultSetting)
            {
                <fieldset >
                    <legend>@(Localizer["settings_from"])</legend>
                    <MudRadioGroup T="bool" Class="radioColumn"
                                   @bind-SelectedOption="_settingViewModel.Other.BTDefault">
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@(false)">@(Localizer["settings_from_scoring"])</MudRadio>
                        <MudRadio Color="DefaultColor" Size="DefaultSize" Option="@(true)">@(Localizer["settings_from_default"])</MudRadio>
                    </MudRadioGroup>
                </fieldset>
            }
            else
            {
                <MudButton Color="Color.Secondary" Size="Size.Large" Variant="Variant.Filled"
                           OnClick="MoreSettings">
                    @(Localizer["more_settings"])
                </MudButton>
            }
        </MudItem>
        <MudItem sm="12" Class="centerContent">
            <MudIconButton Style="margin: 0 !important; width: 40px;" Color="Color.Warning" Icon="@Icons.Material.Filled.QuestionMark" Variant="Variant.Filled"
                           Size="Size.Large"/>
        </MudItem>
        <MudItem sm="12" Class="centerContent">
            <MudButton Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled"
                       OnClick="SaveSettings">
                @(Localizer["ok"])
            </MudButton>
        </MudItem>
    </MudGrid>
</MudItem>
</MudGrid>
</div>
</MudContainer>